.navbar{
    background-color: rgba(228, 15, 15, 0.795);
}
.nav-item{
    margin-right: 40px;
}
.jumbotron{
   text-align: center;
   background-color: rgb(238, 97, 97); 
   height:450px ;
}
.jumbotron h1 
  font-weight: bold;
  font-size: 40px;
  padding-top: 50px;  

.project{
    margin: top 100px;px;
}
.project h2{
    margin-bottom: 100px;
}
